body {
    background-image: url('../img/fon.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
}

.btns{
  display: flex;
  flex-direction: column;
  width: 593px;
  margin: 50px 30%;
  gap: 50px;
  font-size: 20px;
}
.btn{
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 2px solid;
    border-image-source: radial-gradient(104.22% 230.94% at -4.22% 0%, #24C5DB 3.62%, rgba(36, 197, 219, 0.26) 55.1%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-color: rgba(36, 197, 219, 0.15);
    height: 249px;
    border-radius: 30px;
    border-width: 2px;
    opacity: 1;
    color:#fff;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    backdrop-filter: blur(5px)

}

.btn-a{
    background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 2px solid;
    border-image-source: radial-gradient(104.22% 230.94% at -4.22% 0%, #24C5DB 3.62%, rgba(36, 197, 219, 0.26) 55.1%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(57.23% 248.2% at 107.17% 104.02%, rgba(34, 153, 235, 0.92) 0%, rgba(34, 153, 235, 0.07) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-color: rgba(36, 197, 219, 0.15);
    border-radius: 30px;
    border-width: 2px;
    opacity: 1;
    color:#fff;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    backdrop-filter: blur(5px)
}
.btn:hover, .btn-a:hover{
  color: rgb(169, 198, 201);
  border-color: rgba(22, 87, 94, 0.15);
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(45, 140, 153, 0.15) 0%, rgba(42, 135, 147, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 13px;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 15px 0;
}
.layout {
    flex: 1 0 auto;
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    height: calc(100vh - 60px);
    overflow: hidden;
    height: auto;
  }
  
  .left-panel, .right-panel {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    overflow-y: auto;
  }

.tree{
  width: 110px;
  height: 110px;
  margin: 7px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(5px);
}

.fons{
  display: flex;
  flex-direction: row;
}

.fon{
  width: 68px;
  height: 68px;
  opacity: 1;
  margin: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px)
}

.garland{
  width: 284px;
  max-height: 52px;
}
.tree-area{
  background-image: url('../img/back.png');
}
.main-tree{
  width: 543px;
  height: 810px;
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 50%;
  transform: translate(-55%,-43%);
}